<!-- Modal -->
<div id="deleteTask" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you want to delete task?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="javascript:void(0)" type="submit" class="btn btn-primary deleteBtn">Delete Task</a>
            </div>
        </div>

    </div>
</div>