<!-- Modal -->
<div id="viewTask" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Task Detail</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>Name</label>: <span class="name"></span>
                </div>
                <div>
                    <label>Description</label>: <span class="description"></span>
                </div>
                <div>
                    <label>Amount</label>: <span class="amount"></span>
                </div>
                <div>
                    <label>Created At</label>: <span class="created"></span>
                </div>
                <div>
                    <label>Updated At</label>: <span class="updated"></span>
                </div>
            </div>
        </div>

    </div>
</div>